@import "tailwindcss";

body {
  background: #f5f7fa;
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slideLeft {
  animation: slideLeft 0.25s ease-out;
}